

.nav .brand a{
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    font-family: 'Bree serif', serif;
    color: #3f4954;
}

.nav .items{
    list-style-type: none;
    display: flex;
    margin: 0;
    font-family: 'Livvic', sans-serif;
}

.nav .items .link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

/*midnight: #104f55
text-light: #686666da
bg-color: #0f0f0f
midnight: #104f55

background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)

*/
.nav .items .link:hover{
    background-color: #104f55;

}

.nav .items .link:hover a{
    color: #ffff;
}

.nav .socialText{
    padding: 1.4rem;
}
.nav .socialText a{
    padding: 0.3rem ;
}

.nav .socialText a:hover{
    color: #a1c4cf;
}

@media only screen and (max-width: 750px){
    .nav .menu, .nav .items{
        flex-direction: column;   
    }

    .nav .toggle{
        display: initial;
    }
}
